<footer>
    <div id="leftfooter">
        &copy;
        <span>
            <script type="text/javascript">document.write(new Date().getFullYear());</script> Carrot Softwares
        </span>
        <br>
        <a href="http://www.github.com/Carrot-Softwares"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" width="50" height="50"/></a>
    </div>
    <div id="donation">
        <p>Quer ajudar nosso startup a progredir? Faça a doação!</p>
    </div>
</footer>

<style is:global>
    footer {
        background: rgb(155,0,195);
        background: -moz-radial-gradient(circle, rgba(155,0,195,1) 0%, rgba(51,0,78,1) 100%);
        background: -webkit-radial-gradient(circle, rgba(155,0,195,1) 0%, rgba(51,0,78,1) 100%);
        background: radial-gradient(circle, rgba(155,0,195,1) 0%, rgba(51,0,78,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9b00c3",endColorstr="#33004e",GradientType=1);
        color: white;
        text-align: center;
    }
</style>