---
import CarrotSoftwaresLogo from '../assets/CenoraCenora.png';
---

<section>
    <a href="/"><img src={CarrotSoftwaresLogo.src} alt="Carrot Softwares" width="160" height="80"/></a>
    <div id="links">
        <a href="/CarrotSoftwaresWebsite/about">Sobre</a>
        <a href="/CarrotSoftwaresWebsite/projects">Projetos</a>
        <a href="/CarrotSoftwaresWebsite/feedback">Envie feedback</a>
    </div>
</section>

<style is:global>
    section {
        color: white;
        background: rgb(155,0,195);
        background: -moz-radial-gradient(circle, rgba(155,0,195,1) 0%, rgba(51,0,78,1) 100%);
        background: -webkit-radial-gradient(circle, rgba(155,0,195,1) 0%, rgba(51,0,78,1) 100%);
        background: radial-gradient(circle, rgba(155,0,195,1) 0%, rgba(51,0,78,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9b00c3",endColorstr="#33004e",GradientType=1);
    }

    #links a {
        margin-left: 2em;
    }

    #links a:link { 
        text-decoration: none; 
        color: white;
    }

    #links a:visited { 
        text-decoration: none;
        color: white;
    }

    #links a:hover { 
        text-decoration: underline;
    }

    #links a:active { 
        text-decoration: none; 
        color: white;
    }
</style>