---
interface Props {
	title: string;
}

const { title } = Astro.props;

import CarrotSoftwaresIcon from '../assets/'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		background: rgb(19,107,0);
		background: -moz-linear-gradient(90deg, rgba(19,107,0,1) 0%, rgba(47,140,14,1) 51%, rgba(20,255,0,1) 100%);
		background: -webkit-linear-gradient(90deg, rgba(19,107,0,1) 0%, rgba(47,140,14,1) 51%, rgba(20,255,0,1) 100%);
		background: linear-gradient(90deg, rgba(19,107,0,1) 0%, rgba(47,140,14,1) 51%, rgba(20,255,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#136b00",endColorstr="#14ff00",GradientType=1);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
